<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Documentation</title>

  <style>
  body {
    opacity: 0;
  }

  body.doc-nav-loaded {
    opacity: 1;
  }
  </style>

  <script>
    window.xinOptions = {
      'xin.ViewBehavior': {
        transition: 'none',
      },
      //debug: true,
    };
  </script>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="/bower_components/xin/xin-app.html">
  <link rel="import" href="/bower_components/xin/xin-pager.html">
  <link rel="import" href="/bower_components/xin/xin-view.html">

  <link rel="import" href="/bower_components/xin-cli/xin-cli.html">
</head>
<body>
  <xin-app id="app" mode="history" root-uri="/_docs">
  <div class="wrapper">
    <doc-nav id="docNav"></doc-nav>
    <xin-pager class="flex">
      <xin-view uri="/">
        <div class="doc-content">
          <h1>Hello,</h1>

          <p>
            Here, you can find components documentation.
          </p>
        </div>
      </xin-view>
      <doc-show id="docShow" uri="/{name}"></doc-show>
    </xin-pager>
  </div>
  </xin-app>
</body>
</html>
