<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Serve your xin</title>

  <style>
  body {
    opacity: 0;
  }

  body.doc-nav-loaded {
    opacity: 1;
  }
  </style>
</head>
<body>
  <div class="wrapper">
    <doc-nav></doc-nav>
    <div class="doc-content">
      <h1>Hello, xiner!</h1>

      <p>You are here because you want to develop xin application or component.</p>
    </div>
  </div>

  <script>
    window.xinOptions = {
      // debug: true,
    };
  </script>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/bower_components/xin-cli/xin-cli.html">
</body>
</html>
